# Python
__pycache__/
.pytest_cache/
*.egg-info/
dist/
.venv/
venv/
.ipynb_checkpoints/

# PyCharm Project-Settings
.idea/

# VSCode
.vscode/

# Documentation
docs/build/
docs/generated/
docs/source/generated
