# ToDo: Check every requirement in the end if really necessary
# Pipeline-related
autoreject
git+https://github.com/marsipu/NodeGraphQt_qtpy.git@main
h5io

# MNE-related
mne
mne-connectivity
mne-qt-browser
nibabel
pandas
psutil
pyobjc-framework-Cocoa; sys_platform == "darwin"

# PyQt
pyqtdarktheme
pyvistaqt
qtpy
vtk
