# MNE-Python-Requirements
mne
pandas

# Special Pipeline-Requirements
https://api.github.com/repos/autoreject/autoreject/zipball/master
pyobjc-framework-Cocoa; sys_platform == "darwin"
qdarkstyle
pygments

# Requirement for deployment (only source-space)
PyQtWebEngine
joblib
sklearn