name: CIs
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  black:
    name: Check code style with black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install black
      - name: Lint with black
        run: black --check .

  pytest:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu, windows, macos ]
        python: [ '3.11' ]
        include:
          - os: ubuntu
            python: '3.9'
          - os: ubuntu
            python: '3.10'
    name: Run pytest on ${{ matrix.os }} / ${{matrix.python}}
    runs-on: ${{ matrix.os }}-latest
    env:
      DISPLAY: ':99.0'
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - name: Setup xvfb on Linux
        if: runner.os == 'Linux'
        run: |
          curl --remote-name https://raw.githubusercontent.com/mne-tools/mne-python/main/tools/setup_xvfb.sh
          bash setup_xvfb.sh
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Installation with dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -ve .
          python -m pip install -r requirements_dev.txt
      - uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-sample-data
          path: ~/mne_data
        name: 'Cache testing data'
      - run: python -c 'import mne; print(mne.datasets.testing.data_path(verbose=True))'
        name: 'Download sample data'
      - name: Show system information
        run: mne sys_info
      - run: pytest
        name: Run Tests